<div class="span_12">
   <div class="menu"> 
   	  <div id="topmenu">
	      <ul class="menulist" id="listMenuRoot">
	          <li>
		<%= link_to "Kontrol Paneli", login_success_path, :id => "sol-line" %>
		</li>
	          <li><%= link_to "Kişiler", contacts_path %></li>
	          <li><a href="#" title="">Alacaklar</a></li>
	          <li><a href="#" title="">Raporlar</a></li>
	          <li><a href="#" title="" id="sag-line">Ayarlar</a></li>
	      </ul>
	   </div>            
	</div>
</div>
<br />