<div class="span_12">
   <div class="menu"> 
   	  <div id="topmenu">
	      <ul class="menulist" id="listMenuRoot">
	          <li><%= link_to "Kontrol Paneli", login_success_path, :id => "sol-line" %></li>
	          <li><%= link_to "Kişiler", contacts_path %></li>
	          <li><%= link_to "Alacaklarım", alacaklar_contacts_path %></li>
			  <li><%= link_to "Borçlarım", borclar_contacts_path, :id => "sag-line" %></li>
	      </ul>
	   </div>            
	</div>
</div>
<br />