<h1>Varyemez</h1>
<p>Yakında yayında !!!</p>    


<% if user_signed_in? %>
<p><%= current_user.email %> giriş yaptı !</p>   
<%= link_to "Çıkış", destroy_user_session_path, :method => :delete %>     
<% else %>
<%= link_to "Üye Girişi", new_user_session_path %> | <%= link_to "Facebook ile Bağlan", user_omniauth_authorize_path(:facebook) %> 
<% end %>
