<div class="container_12 middle-area">   
	<div class="grid_4">   		
		<h1>Borçlarınızı takip etmeniz için <span style="color:green;">yeni</span> bir yol. </h1>   
		<p> Bazen verdiğiniz borçlar geri gelmeyebiliyor. Aslında varyemez olduğunuzu biliyorum. Birine borç verip, arkasından uykusuz kaldığınızı. 
			<br />
			Artık farklı bir yolunuz daha var. Varyemez ile siz de alacaklarınızın takibini yapın ve paranızın üstüne kim yatıyor görün.
			<br /><br />
			Üstelik kullanmak ücretsiz. Facebook ya da Twitter hesabının olması yeterli.
			</p>                                                                        
			<p>
				<%= link_to image_tag("twitter-login.png"), "/auth/twitter" %> 
				<%= link_to image_tag("facebook-login.png"), "/auth/facebook" %>
			</p>
			
	</div>                   
	<div class="grid_8">
		<%= image_tag "pie.png" %> 
	</div>
	<hr />
<div class="container_12">
	<div class="grid_4 box">test 1</div>
	<div class="grid_4 box">test 2</div>
	<div class="grid_4 box">test 3</div>
</div>  
